body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.padding0 {
    padding: 0 !important;
}

.navAdmin {
   height: 100vh;
    background-color: #f0f0f0;
}

.navAdmin img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.adminImage {
    display: flex;
    justify-content: center !important;
    align-items: flex-start;
}
.krevetImage {
    display: flex;
    justify-content: center !important;
    align-items: flex-start;
    width: 100%;
}
.padding0 h4 {
    text-align: center !important;
    font-size: 20px;
    text-transform: none;
    margin-top: 12px;
    cursor: default;
    margin-bottom: 0 !important;
}

.padding0 h3 {
    text-align: center !important;
    font-size: 25px;
    text-transform: none;
    margin-top: 65px !important;
    cursor: default;
    margin-bottom: 0 !important;
}

.padding0 p {
    text-align: center !important;
    font-size: 14px;
    margin-top: 3px;
    text-transform: uppercase;
    color: #6B6B6B;
    cursor: default;
}

.padding0 ul {
    text-align: left;
    margin-left: 4px;
}

.padding0 ul li{
    font-size: 22px;
    color: #1A1A1A;
    margin-top: 0px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding-left: 20px;
}

.navAdminLine {
    line-height: 55px !important;
}

.padding0 ul :hover {
    font-size: 22px;
    cursor: pointer;
}

.activeNav {
    border-left: 3px solid #0082e6;
    background-color: #ddd6d6;
}


.faIcons { 
    width: 30px;
    height: 19px;
    margin-right: 4px;
}

/* admin info */
.adminInfo h1 {
    text-align: center;
    margin-top: 20px;
    color: #1A1A1A;
    text-transform: none;
}

.formLabel {
    color: #1A1A1A !important;
    font-size: 23px !important;
    text-align: left !important;
    padding: 0 !important;
    line-height: 40px !important;
    font-weight: 400 !important;
}

.formControlor {
    width: 500px !important;
    color: #1A1A1A !important;
    border: 2px solid black !important;
    border-radius: 0;
    margin-right: 20px;
}
.selectControl {
    height: 45px;
    width: 500px;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    word-wrap: normal;
    border: 2px solid #1A1A1A;
    margin-right: 20px;
}

.krevet:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #070707;
    border-color: #010000;
    box-shadow: none !important;
}

.buttonAdd {
    background-color: #1A1A1A;
}

.error-container {
    padding: 10px; /* Dodajte malo prostora između ivice i poruka */
    margin: 10px 0; /* Dodajte prostor iznad i ispod kontejnera */
  }
  
  .error-box {
    border-radius: 3px;
    background-color: #dc3545;
    padding: 8px; /* Dodajte prostor između ivice i teksta */
    margin: 5px 0; /* Dodajte prostor iznad i ispod svake poruke */
    color: white;
    font-weight: bold; 
}
    
.successMessage {
    background-color: #198754;
    border-radius: 3px;
    padding: 8px 20px; 
    margin: 5px 0; 
    color: white;
    font-weight: bold; 
}

.tableThead {
    background-color: #0082e6 !important;
    color: #fff;
    font-weight: bold;
}

.tableTr {
    background-color: #ddd6d6 !important;
    color: #55595c;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    border-top: 3px solid #0082e6;
}

.pointer {
    cursor: pointer;
}