* {
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

nav {
    
    background:#0082e6;
    height: 80px; 
    width: 100%;
}

label {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

button{
    border: none;
    background: local;
}
nav ul{

    float: right;
    margin-right: 20px;

}

.NavUlLi{
    display: flex !important;
    line-height: 80px !important;
    margin:0 5px !important;   
}

nav ul li button{
    color:white;font-size: 17px;
font-size: 17px;
padding: 0px 10px;
border-radius: 3px;
text-transform: uppercase;
}

button.active,button:hover{

    background:#1b9bff;
    transition: .5s;
}
.icon{
    
    height: 50px;
}

.checkbtn{
    font-size:30px;
    color: white;
    float:right;
    line-height: 100px;
padding: 0 0 10px 0;  
    cursor: pointer;
    display: none;
}
label.checkbtn {
    margin-right: 2rem;
}

#check{
    display: none;
}

@media (max-width:952px)
{


    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li button{
        font-size:16px;
    }
}




@media (max-width:858px)
{

    .checkbtn{
        display: block;
    }

    ul{
        position:fixed;
        width: 100%;
        height:100vh;
        background: #2c3e50;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li button{
        font-size: 20px;
       
    }

    button:hover,button.active{
        background: none!important;
        color: #0082e6 !important;
        padding: 0!important;
    }
 
   #check:checked ~ ul{
           left: 0;
        }
}

button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}
button:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}